* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            min-height: 100%;
            background: #000000;
        }

        body {
            display: flex;
            flex-direction: column;
        }

            .video{
                width: 95%;
                display: block;
                margin: 0 auto;
            }

                .img{
                width: 95%;
                display: block;
                margin: 0 auto;
                
            }

        video, img {

            width: 100%;
            height: auto;
            display: block;
        }


        @media (max-width: 900px) {
            .video {
                width: 100%;
            }
        }